@font-face {
  font-family: 'gcmd';
  src:url('#{$icon-font-path}/gcmd.eot?90b6hh');
  src:url('#{$icon-font-path}/gcmd.eot?90b6hh#iefix') format('embedded-opentype'),
    url('#{$icon-font-path}/gcmd.ttf?90b6hh') format('truetype'),
    url('#{$icon-font-path}/gcmd.woff?90b6hh') format('woff'),
    url('#{$icon-font-path}/gcmd.svg?90b6hh#gcmd') format('svg');
  font-weight: normal;
  font-style: normal;
}

.glyphicon {
  font-family: 'gcmd';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-snowflake:before {
  content: "\f150";
}
.glyphicon-close:before {
  content: "\f00d";
}
.glyphicon-remove:before {
  content: "\f00d";
}
.glyphicon-times:before {
  content: "\f00d";
}
.glyphicon-home:before {
  content: "\f015";
}
.glyphicon-check:before {
  content: "\f046";
}
.glyphicon-stop:before {
  content: "\f04d";
}
.glyphicon-question-circle:before {
  content: "\f059";
}
.glyphicon-info-circle:before {
  content: "\f05a";
}
.glyphicon-plus:before {
  content: "\f067";
}
.glyphicon-minus:before {
  content: "\f068";
}
.glyphicon-unchecked:before {
  content: "\f096";
}
.glyphicon-github:before {
  content: "\f09b";
}
.glyphicon-rocket:before {
  content: "\f135";
}
.glyphicon-globe:before {
  content: "\f0ac";
}