@import 'loader';

$icon-font-path: "../assets/fonts/gcmd/" !default;
$brand-primary: adjust_hue(darken(#428bca, 6), 253) !default;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/theme";
//@import 'logo';
@import 'fonts';

html {
  height: 100vh;
}
html, body {
  min-height: 99.9vh;
}

body {
  padding-top: 50px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-fixed-top a {
  font-size: 1.2em;
}

#about {
  margin-top: 2em;
}

#tree-tabs {
  margin-bottom: 1.5em;
}

#tree {

  .list-group-item:first-child {
    border-top: 0;
  }

  span.icon.expand-icon:hover {
    color: darken(saturate($brand-warning, 4), 2);
  }

  li .badge {
    background-color: $gray-darker;
  }

}

.node-tooltip {
  min-width: 15em;
}

#panel-search {
  border-top: 0;
  padding: 1em;

  .form-group {
    padding-right: 1em;
    margin-bottom: 15px;
  }

  .chk-grp {
    width: 10em;

    .checkbox {
      margin-right: 1em;
    }
  }

  .search-grp {
    min-width: 20em;

    #input-search {
      width: 100%;
    }
  }

  #search-output {
    opacity: 0;
  }

  li.node-selected {
    color:#FFFFFF;
    background-color: $brand-primary;

    span {
      color: #FFFFFF;
    }
  }
}

#panel-selected {

  h3.panel-title{
    display: inline-block;
  }

  .checkbox {
    margin: 0;
  }
}

#tree-selected {
  border: 0;
}

#about {
  background-color: #F5FAFF;
  border: 1px solid #E0F0FF;

  .citation {
    padding-left: 1em;
  }
}
