<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Joshua Bradley">
        <title>GCMD Keyword Viewer <!-- @echo version --></title>
        <link rel="stylesheet" href="styles/gcmd<!-- @if NODE_ENV='PRODUCTION' -->.min<!-- @endif -->.css" />

        <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    </head>

    <body>
        <div id="loader">
            <div id="loading">
                <div>
                </div>
                <div>
                </div>
            </div>
            <h3>Loading <span class="text-primary">Keywords</span>...might take a few seconds ;)</h3>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> GCMD Keyword Viewer</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                        </li>
                        <li>
                            <a href="#about"><span class="glyphicon glyphicon-info-circle" aria-hidden="true"></span> About</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://github.com/arcticlcc/gcmd"><span class="glyphicon glyphicon-github" aria-hidden="true"></span> GitHub</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="home" class="page-header">
                        <h1> GCMD Keywords <small class="hidden-xs">Grab and paste 'em</small></h1>
                    </div>
                    <div class="start">
                        <p class="lead">
                            Click to select keywords.
                            They'll be placed in the textarea.
                            Click again to remove.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="tabbable" id="tree-tabs">
                        <ul class="nav nav-tabs">
                            <li  role="presentation" class="active">
                                <a href="#tree" aria-controls="tree" role="tab" data-toggle="tab">Tree</a>
                            </li>
                            <li  role="presentation">
                                <a href="#panel-search" aria-controls="search" role="tab" data-toggle="tab">Search</a>
                            </li>
                            <button type="button" id="btn-clear" class="btn btn-danger pull-right" aria-label="Clear Selectiom">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Clear
                            </button>
                        </ul>
                        <div class="tab-content">
                            <div  role="tabpanel" class="tab-pane active" id="tree">
                            </div>
                            <div  role="tabpanel" class="tab-pane panel panel-default"  id="panel-search">
                                <div class="form-inline">
                                    <!-- <form> -->
                                    <div class="form-group search-grp">
                                        <label for="input-search" class="sr-only">Search Tree:</label>
                                        <input type="input" class="form-control" id="input-search" placeholder="Type to search..." value="">
                                    </div>
                                    <div class="form-group chk-grp">
                                        <div class="checkbox">
                                            <label  data-toggle="tooltip" title="Show results in the tree(slower).">
                                                <input type="checkbox" id="chk-reveal-results" value="false">
                                                Reveal Results </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" id="chk-exact-match" value="false">
                                                Exact Match </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-md" id="btn-search">
                                            Search
                                        </button>
                                        <button type="button" class="btn btn-warning btn-md" id="btn-clear-search">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                                <!-- </form> -->
                                <div id="search-output" class="treeview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="panel-selected" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Selected Keywords</h3>
                            <div class="checkbox pull-right">
                                <label  data-toggle="tooltip" title="Include the full keyword path?" class="noselect">
                                    <input type="checkbox" id="chk-fullpath" value="true" checked="">
                                    Full Path</label>
                            </div>
                        </div>
                        <div class="">
                            <textarea id="tree-selected" class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="about" class="well">
                        <h3><span class="glyphicon glyphicon-snowflake" aria-hidden="true"></span> About the GCMD Keyword Viewer</h3>
                        <p>
                            The <a href="http://arcticlcc.org">Arctic Landscape
                            Conservation Cooperative</a> developed this application
                            to assist in the use of
                            <abbr title="Global Change Master Directory">GCMD</abbr> keywords.
                            GCMD keywords are very useful for metadata
                            and facilitating data discovery. However, finding
                            and choosing specific keywords can be difficult due
                            to the size of the list. This viewer is intended to
                            provide an easy way to explore and use the GCMD
                            keyword list.
                        </p>
                        <hr />
                        <h3><span class="glyphicon glyphicon-rocket" aria-hidden="true"></span> About NASA’s GCMD Keywords</h3>
                        <p>
                            This keyword list is based on the
                            GCMD/IDN Science Keywords Version 8.1 Released
                            2015-03-26. The the keyword lists are maintained by the
                            <abbr title="Global Change Master Directory">GCMD</abbr>
                            science team.
                        </p>
                        <h4>Citation:</h4>
                        <p class="citation">
                            <i>Global Change Master Directory (GCMD).
                            2015. GCMD Keywords, Version 8.1.
                            Greenbelt, MD: Global Change Data Center,
                            Science and Exploration Directorate,
                            Goddard Space Flight Center (GSFC)
                            National Aeronautics and Space
                            Administration (NASA).
                            URL:<a href="http://gcmd.nasa.gov/learn/keywords.html"> <em>http://gcmd.nasa.gov/learn/keywords.html</em></a> </i>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- /.container -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!-- @if NODE_ENV!='PRODUCTION' -->
        <script type="text/javascript" src="lib/bundle.js"></script>
        <!-- @endif -->
        <!-- @if NODE_ENV='PRODUCTION' -->
        <script type='text/javascript' src="gcmd.min.js"></script>
        <!-- @endif -->
    </body>
</html>
